{{#providers}}
	<div class="media">
    	<a href="/mockup/Contact" alt="Contactar" class="pull-left thumbnail" data-toggle="modal" >
        	<img class="small-object span2" src="assets/images/app/{{picture}}" alt="someone else"/>
    	</a>
  		<div class="media-body">
    		<h4 class="small-heading">{{name}}</h4>
    			<h6 class="small-heading">{{address}}  -  $ {{price}} aprox.</h6>
				{{description}}
  		</div>
 	</div>
{{/providers}}