   <table class='table table-hover'>
        <thead>
            <tr>
            	<th>Nombre</th>
      			<th>Direccion</th>
                <th>Contratar</th>
                <th>Enviar Mensaje</th>
                <th>Presupuesto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
         {{#hirings}}
            <tr class="success">
                <td>{{name}}</td>
                <td>{{address}}</td>
                <td><a href="/mockup/tasks/hire">Contratar</a></td>
                <td class="media">
                    <a href="/mockup/Contact" alt="Contactar" class="pull-left thumbnail" data-toggle="modal" >
                        <img class="small-object" src="assets/images/app/{{picture}}" alt="someone else"/>
                    </a>
                    <div class="media-body">
                        <h6>Another provider</h6>
                        <small>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </small>
                    </div>
                </td>
                <td> {{price}} </td>
                <td><a href="/hiring/conversation/{{name}}">Ver</a></td>
            </tr>
          {{/hirings}}  
        </tbody>
    </table>